.button-list {
  margin: 0px;
  padding: 0px;
}

.button-li {
  display: inline;
  margin: 0px;

}

.section-head {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
}

.bookings-summary {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}

.booking-section {
  margin-bottom: 16px;
}
