.button-list {
  margin: 0px;
  padding: 0px;
}

.button-li {
  display: inline;
  margin: 0px;

}

.sitters {
  display: flex;
 overflow: scroll;
}


.section-head {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px; 
}
