<h2>Become a Petsitter</h2>
<h6>Complete the following form to register as a petsitter.</h6>

<%= simple_form_for @petsitter do |f| %>
  <%= f.input :experience %>
  <%= f.select :availability, ['True', 'False']%>
  <%= f.button :submit %>
<% end %>
