<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a class="nav-link" href="/my_bookings">My Bookings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">My Sittings</a>
  </li>
</ul>
