<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1534551767192-78b8dd45b51b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);">
  <div class="container">
    <h1>FURR brings <strong>petsitting</strong> to <strong>on the go people</strong>.</h1>
    <p>signup now to find a sitter near you.</p>
    <a class="btn btn-secondary" href="#">SIGN UP</a>
  </div>
</div>
