<div class="map-box-contents">
  <img <%= petsitter.profile_photo %>>
  <h5><%= petsitter.first_name %> <%= petsitter.last_name %></h5>
  <h6><i class="fa-solid fa-location-dot"></i> <%= petsitter.address %></h6>

</div>
