<div class="badge rounded-pill bg-secondary fs-6"> 
<%= image_tag "logo_furr.png", height: 30, width: 30, alt: "Logo" %>
  <%@petsitters.each do |petsitter|%>
  <%= petsitter.experience %>
  <%end%>
</div>
