<div class="card mb-4 shadow-sm h-100">
  <%= image_tag petsitter.user.profile_photo, class: "card-img-top", alt: petsitter.user.first_name%>
  <div class="card-body">
    <h5 class="card-title"><%= " #{petsitter.user.first_name} #{petsitter.user.last_name}" %></h5>
    <p class="card-text"><%= petsitter.experience %></p>
    <% if petsitter.availability %>
      <p class="card-text"><i class="fa-solid fa-calendar-check"></i> Available</p>
    <% else %>
      <p class="card-text"><i class="fa-solid fa-calendar-xmark"></i> Not Available</p>
    <% end %>
  </div>
  <div class="card-footer">
    <%= link_to "Show more", petsitter_path(petsitter), class: "btn btn-primary btn-block" %>
  </div>
</div>
