<% if user_signed_in? %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1604848698030-c434ba08ece1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80);">
    <div class="container p-5">
      <h1>Welcome to <strong>FURR</strong>, <strong><%= " #{current_user.first_name} #{current_user.last_name}" %> <i class="fa-solid fa-paw"></i></strong></h1>
      <p>Find a sitter for your <span data-controller="typed-js"></span></p>
      <a class="btn btn-secondary" href="/petsitters">Browse Sitters</a>
    </div>
  </div>
<% else %>
  <%= render "shared/homebanner" %>
<% end %>
