.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif,
}

.map-box-contents {
  color: #395144;
}

.map-box-contents h6{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
