.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: 10px 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}


.nav-item {
  border-left: 1px solid lightgray;
  padding-right: 8px;
}
