.petsitter-show-card {
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;

  h5 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
  }

  .btn-secondary {
    background-color: #395144;
    border: none;
  }

  .btn-secondary:hover {
    background-color: #395144;
    color: #F0EBCE
  }

  .btn-secondary:focus {
    box-shadow: none;
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-control-file {
    display: block;
    margin-top: 5px;
  }
}

.petsitter-index-card {
  border: 1px solid black;
  margin: 2px;
  padding: 2px;
}

.petsitter-card {
  display: inline-block;
  width: 33.33%;
  vertical-align: top;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #F0EBCE;
  color: #395144;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.petsitter-name {
    position:absolute;
    top: 20px;
    left: 20px;
    color: white;
}

.petsitter-status {
  position:absolute;
  top: 20px;
  right: 20px;
  color: white;
}

.petsitter-show-card {
  border: 1px solid #ccc;
  padding: 10px;
}
